body {
background-color: black;
    color: white;
}
h1 {
    text-align: center;
    font-weight: 500;
}

#bkb:link {

    color: rgb(250, 245, 245);
    font-size: x-large;
    text-align: end;
    text-decoration: none;
}
#bkb:hover {

    color: rgb(2, 2, 2);

}
#bkb:active {
color: red;
font-size: x-large;
    text-align: end;
    text-decoration: none;
}

#bkb {

    color: white;
}
.is {

    text-decoration: solid;
    color: wheat;
}
